# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\test3\test0824sjj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
